<% if @data.length > 0 %>
  <% if @errors.none? %>
    <p class="alert alert-success">
      This is a valid feed.
    </p>
  <% else %>
    <div class="alert alert-danger">
      <p><b>Errors:</b></p>

      <ol>
        <% @errors.each do |error| %>
          <li><code><%= format_error_message error %></code></li>
        <% end %>
      </ol>
    </div>
  <% end %>
<% end %>

<form action="/validate" method="post">
  <div class="form-group">
    <textarea name="data" class="form-control" rows="20" placeholder="Paste feed here"><%= @data %></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn">Validate</button>
  </div>
</form>
