<% if @data.length > 0 %>
  <% if @errors.none? %>
    <p>This is a valid feed.</p>
  <% else %>
    <p>Errors:</p>

    <ul>
      <% @errors.each do |error| %>
        <li><code><%= error %></code></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<form action="/validate" method="post">
  <div class="form-group">
    <textarea name="data" class="form-control" rows="20"><%= @data %></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn">Validate</button>
  </div>
</form>
