<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JSON Feed Validator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
      .container {
        padding-top: 20px;
      }

      .alert {
        line-height: 2;
      }

      textarea {
        font-family: monospace;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1><a href="/">JSON Feed Validator</a></h1>

      <%= yield %>

      <hr>

      <p>
        This app validates a <a href="https://jsonfeed.org/">JSON Feed</a> document
        (<a href="https://daringfireball.net/feeds/json">here's one</a>) against a
        <a href="http://json.schemastore.org/feed">schema</a> from
        <a href="http://schemastore.org/json/">JSON Schema Store</a>.
      </p>

      <p>
        Made by your friends at <a href="https://www.viget.com/">Viget</a>.
        Source code available on <a href="https://github.com/vigetlabs/json-feed-validator">GitHub</a>.
      </p>
    </div>
  </body>
</html>
